<!DOCTYPE html>
<html lang="en" ng-app="meshDemo" ng-controller="AppController as vm">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="icon" type="image/png" href="favicon.png" />
    <meta charset="UTF-8">
    <title>Gentics Mesh Demo</title>
</head>
<body>
<div class="container">
    <h2>Gentics Mesh Demo <small><a href="http://getmesh.io">getmesh.io</a></small></h2>

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            <div class="navbar-header">
                <a href="#/" ng-click="vm.activeCategory = undefined" class="navbar-brand">Home</a>
            </div>

            <ul class="nav navbar-nav">
                <li ng-class="{ 'active' : vm.activeCategory.uuid === category.uuid }"
                    ng-repeat="category in vm.menuItems">
                    <a href="" ng-click="vm.openCategory(category)" ng-bind="category.fields.name"></a>
                </li>
            </ul>

        </div>
    </nav>

    <ng-view></ng-view>

</div>

<script>
    /**
     * Configure this API URL as required to connect to the Mesh server.
     */
    var API_URL = '/api/v1/';
</script>

<!-- vendor scripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular-route.js"></script>

<!-- app scripts -->
<script src="app/app.js"></script>
<script src="app/meshService.js"></script>

</body>
</html>