<div *ngIf="node | async as product">
	
	<h1>{{ product.fields.name || 'Untitled Product' }}</h1>
	
	<div class="row">
		<div class="col-md-6">
			
			<dl class="form-group">
				<dt for="name">Name</dt>
				<dd>
					{{product.fields.name}}
				</dd>
			</dl>
			
			<dl class="form-group">
				<dt for="description">Description</dt>
				<dd>
					{{product.fields.description}}
				</dd>
			</dl>

			<br>
			
			<dl class="form-group">
				<dt for="sku">SKU</dt>
				<dd>
					{{product.fields.SKU}}
				</dd>
			</dl>
			
			<dl class="row">
				<div class="col-sm-4 form-group">
					<dt for="price">Price</dt>
					<dd>
						{{product.fields.price}}
					</dd>
				</div>
				<div class="col-sm-4 form-group">
					<dt for="weight">Weight</dt>
					<dd>
						{{product.fields.weight}}
					</dd>
				</div>
				<div class="col-sm-4 form-group">
					<dt for="stocklevel">Stock Level</dt>
					<dd>
						{{product.fields.stocklevel}}
					</dd>
				</div>
			</dl>
		</div>

		<div class="col-md-6">
			<img class="img-thumbnail" [src]="imageUrl(product)">
		</div>
	</div>
</div>